---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
---

<LayoutDefault>
    <h1 class="post-title!">NOW!</h1>

    <div class="heti">
        <ul>
            <li>
                <strong>在看</strong>
                <ul>
                    <li>
                        日剧
                        <ul>
                            <li>西瓜(すいか)</li>
                        </ul>
                    </li>
                    <li>
                        美剧
                        <ul>
                            <li>欢乐一家亲(Frasier)</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <strong>在玩</strong>
                <ul>
                    <li>
                        艾尔登法环
                        <ul>
                            <li>
                                打完拉塔恩后直接卸载了艾尔登法环，这辈子都不想再碰了!!!
                            </li>
                        </ul>
                    </li>
                    <li>死亡搁浅</li>
                </ul>
            </li>
            <li>
                <strong>在读</strong>
                <ul>
                    <li>三个火枪手</li>
                    <li>走过夹缝地带</li>
                </ul>
            </li>
            <li>
                <strong>在学</strong>
                <ul>
                    <li>网络是怎样连接的</li>
                    <li>斯坦福商业决策课</li>
                </ul>
            </li>
        </ul>
    </div>
</LayoutDefault>
